{% extends "nav.html" %}
{% block content %}
{% load static %}
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Spam Detection</h2>
        <p>Email Spam</p>
      </div>

      <div class="row">

        <div class="col-lg-5 d-flex align-items-stretch">
            <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid animated" alt="">
        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form  method="post"  role="form" class="php-email-form">
            {% csrf_token %}
            <div class="row">
              
           
              <div class="form-group">
                <label for="name">Username</label>
                <input type="text" class="form-control" name="uname"  required>
              </div>
              
              <div class="form-group">
                <label for="name">Password</label>
                <input type="password" class="form-control" name="psw"  required>
              </div>
              
            <div class="text-center"><button type="submit">Login    </form>
 
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->
  {% for i in messages %}
  <script>alert("{{i}}")</script>
  {% endfor %}
{% endblock %}